@font-face {
	font-family: GardensCMRegular;
	src: url("../fonts/GardensCMRegular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Цветовая схема
	Основной - white
	Контрастный - #1d8eea
	Дополнительный - #ff9a0f
	Цвет текст - black
*/

/* Общие стили
==============================*/

a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	transition: .2s;
	color: #1d8eea;
}

a:not(:hover) {
	transition: .2s;
}

a.link {
	text-decoration: underline;
}

body {
	font-family: GardensCMRegular;
	background-color: #f3f3f3;
	font-size: 14pt;
	min-width: 1200px;
}

div.content, div#app {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

div#app {
	padding: 40px;
	border-radius: 5px;
	background-color: white;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div#app h1 {
	margin-bottom: 10px;
}

input {
	height: 40px;
	font-size: 14pt;
	padding-left: 5px;
	border: solid 1px black;
	font-family: GardensCMRegular;
}

input[type=button], input[type=submit] {
	color: white;
	border: none;
	padding: 0 20px;
	cursor: pointer;
	background-color: #1d8eea;
}

form input {
	width: 100%;
	margin: 10px 0;
}

/* Стили шапки сайта
==============================*/

header {
	padding: 20px 0;
	background-color: white;
	box-shadow: 0 3px 10px rgba(0,0,0,0.3);
	border-bottom: solid 3px #1d8eea;
}

header div.logo {
	overflow: hidden;
	width: 300px;
	float: left;
}
header div.logo img {
	height: 60px;
	margin-right: 10px;
	float: left;
}

header div.logo h1 {
	font-size: 40pt;
	cursor: pointer;
	line-height: 60px;
}

header nav {
	text-align: right;
	line-height: 60px;
}

header nav a {
	padding: 15px 10px;
	border-bottom: solid 1px black;
}

header nav a:hover {
	transition: .2s;
	border-bottom: solid 1px #1d8eea;
}

header nav a:not(:hover) {
	transition: .2s;
}

/* Стили контентной части сайта
==============================*/

/* Стили pop-up модулей
==============================*/


/* Функциональные стили
==============================*/

div.error {
	font-size: 20pt;
}

div.error h1 {
	margin-bottom: 30px;
}

div#mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	display: none;
	background-color: black;
}

div#popup {
	z-index: 99;
	width: 600px;
	min-height: 10px;
	display: none;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	border-radius: 5px;
	top: calc(50% - 200px);
	left: calc(50% - 300px);
	background-color: white;
	border: solid 3px #1d8eea;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div#popup:not(:hover) {
	transition: .2s;
}

div#popup h1 {
	text-align: left;
}

div#popup hr {
	margin: 10px 0;
}

div#popup_close {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: red;
}

div#popup_close:hover {
	transition: .2s;
	background-color: #1d8eea;
}

div#popup_close:not(:hover) {
	transition: .2s;
}

div#loading_screen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}