@font-face {
	font-family: GardensCMRegular;
	src: url("../fonts/GardensCMRegular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Цветовая схема
	Основной - white
	Контрастный - #1d8eea
	Дополнительный - #ff9a0f
	Цвет текст - black
*/

/* Общие стили
==============================*/

a {
	color: black;
	cursor: pointer;
	text-decoration: none;
	transition: .2s;
}

a:hover {
	color: #1d8eea;
}

a.link {
	text-decoration: underline;
}

p.error {
	color: red;
}

body {
	font-family: GardensCMRegular;
	background-color: #f3f3f3;
	font-size: 14pt;
	min-width: 1200px;
}

div.content, div#app {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

div#app {
	padding: 40px;
	border-radius: 5px;
	min-height: 40px;
	background-color: white;
	overflow: hidden;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div#app h1 {
	margin-bottom: 10px;/*
	padding-bottom: 10px;
	border-bottom: solid 3px #1d8eea;*/
}

div#app div.sidebar {
	float: right;
	width: 30%;
	border-radius: 5px;
	margin-left: 30px;
}

input, select, textarea {
	height: 40px;
	font-size: 14pt;
	padding-left: 5px;
	border: solid 1px black;
	font-family: GardensCMRegular;
}

input[type=file] {
	border: none;
	height: 35px;
	border-bottom: solid 2px black;
}

input[type=button], input[type=submit] {
	color: white;
	border: none;
	padding: 0 20px;
	cursor: pointer;
	background-color: #1d8eea;
}

form input, form select, form textarea {
	width: 100%;
	margin: 10px 0;
}

form input.error {
	border: solid 1px red;
	transition: .2s;
	box-shadow: 0 0 3px rgba(255,0,0,0.5);
}

form input.error[type=button], form input.error[type=submit] {
	box-shadow: none;
	border: none;
}

form fieldset {
	padding: 10px;
	margin: 10px 0;
	border: solid 2px #1d8eea;
}

form textarea {
	padding: 5px;
	font-size: 14pt;
	font-family: GardensCMRegular;
}

form input.first, form select.first {
	width: 70%;
}

form input.second, form select.second {
	width: calc(30% - 10px);
}

/* Стили шапки сайта
==============================*/

header {
	padding: 20px 0;
	background-color: white;
	box-shadow: 0 3px 10px rgba(0,0,0,0.3);
	border-bottom: solid 3px #1d8eea;
}

header div.logo {
	overflow: hidden;
	width: 300px;
	float: left;
}
header div.logo img {
	height: 60px;
	margin-right: 10px;
	float: left;
}

header div.logo h1 {
	font-size: 40pt;
	cursor: pointer;
	line-height: 60px;
}

header nav {
	text-align: right;
	line-height: 60px;
}

header nav a {
	padding: 15px 10px;
	transition: .2s;
	border-bottom: solid 1px black;
}

header nav a:hover {
	border-bottom: solid 1px #1d8eea;
}

/* Стили контентной части сайта
==============================*/

/* Стили сайдбара
==============================*/
div.sidebar {
	background-color: white;
	text-align: right;
}

div.sidebar p.role {
	text-align: right;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: solid 3px #1d8eea;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}

div.sidebar nav {
	transition: .2s;
	padding: 10px;
	margin: 10px 0;
	border-radius: 3px;
	/*box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
}

div.sidebar nav h2 {
	transition: .2s;
	padding: 10px;
	margin-bottom: 10px;
}

div.sidebar nav p {
	padding: 20px 0;
	border-right: solid 5px #1d8eea;
	border-left: solid 3px white;
	transition: .2s;
	border-radius: 5px;
}

div.sidebar nav p:hover {
	border-right: solid 5px #ff9a0f;
	background-color: #fcfcfc;
	color: white;
}

div.sidebar nav p a {
	padding-right: 10px;
}

/* Стили личного кабинета
==============================*/
div.personal_area {
	width: calc(70% - 30px);
}

div.personal_area nav {
	text-align: center;
	overflow: hidden;
}

div.personal_area nav div {
	float: left;
	min-width: 100px;
	border-top: solid 3px white;
	cursor: pointer;
	background-color: white;
	padding: 15px;
}

div.personal_area nav div.active {
	transition: .2s;
	color: #1d8eea;
	border-top: solid 3px #1d8eea;
}

div.personal_area div.wrap {
	padding: 20px 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Стили страницы модерации
==============================*/
div.moderation {
	width: calc(70% - 30px);
}

div.moderation h2 {
	padding: 20px 0 10px 0;
}

div.moderation div.search {
	margin: 10px 0;
}

div.moderation div.search input[type=search]{
	width: 100%;
}

div.moderation div#users {
	width: 100%;
	min-height: 10px;
	/*border: solid 1px black;*/
}

div.moderation div#users div.user {
	overflow: hidden;
	text-align: center;
}

div.moderation div#users div.user div.head {
	font-weight: bold;
}
div.moderation div#users div.user div.head div,
div.moderation div#users div.user div.body div {
	display: inline-block;
	margin: 0;
	margin: 5px 0;
	border-bottom: solid 2px black;
	padding: 10px;
	width: 23%;
}
div.moderation div#users div.user div.head div:first-child,
div.moderation div#users div.user div.body div:first-child {
	width: 4%;
}

/* Страница добавления новеллы */
div.user_add form {

}

/* Стили pop-up модулей
==============================*/
div.reg_access, div.register p, div.login p {
	text-align: left;
}


/* Функциональные стили
==============================*/
div.error {
	font-size: 20pt;
}

div.error h1 {
	margin-bottom: 30px;
}

div#mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	display: none;
	background-color: black;
}

div#popup, div#message {
	z-index: 99;
	width: 600px;
	min-height: 10px;
	transition: .2s;
	display: none;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	border-radius: 5px;
	top: calc(50% - 200px);
	left: calc(50% - 300px);
	background-color: white;
	border: solid 3px #1d8eea;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div#popup h1 {
	text-align: left;
}

div#popup hr {
	margin: 10px 0;
}

div#popup_close {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	display: none;
	cursor: pointer;
	border-radius: 5px;
	background-color: red;
	background: url("../images/ex_red.jpg");
	background-size: 100% 100%;
	transition: .2s;
}

div#popup_close:hover {
	background: url("../images/ex_blue.jpg");
	background-color: #1d8eea;
}

div#message {
	z-index: 100;
	width: 300px;
	padding: 10px;
	cursor: pointer;
	border: solid 3px #1d8eea;
}

div#loading_screen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}